In [1]:
import datetime, warnings, scipy 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Reading the DATA SET


In this notebook, I developed a model aimed at predicting flight delays at the Destination Airport. The purpose is to create a Data set which can be used for visualization and model Building so as to predict the Delays of Flights. I did the visualization so as to get better inferences about the data. For, model fitting I have seperated the Dataset into training Data and Testing Data so that prediction can be done on the testing Data. I also showed how to import Tableau and make visualization more crisp and clear.

Technical aspect Covered:

visualization: matplolib, seaborn, Tableau

data manipulation: pandas, numpy

modeling: sklearn

class definition: regression, Boosting, Bagging

For EDA I used some part of Python coding and Tableau Visulization so as to get a brief insight and inference from the data. Various Plots are created so as to get a great idea of whats happening in the Dataset and what is the most important variable affecting the dalays of the airlines. Feature scaling is a method used to normalize the range of independent variables or features of data and this concept is used.

In [2]:
data = pd.read_csv("../dot/red_flights.csv")

In [3]:
airport = pd.read_csv('../dot/airports.csv')
airlines = pd.read_csv('../dot/airlines.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 31 columns):
YEAR                   19999 non-null int64
MONTH                  19999 non-null int64
DAY                    19999 non-null int64
DAY_OF_WEEK            19999 non-null int64
AIRLINE                19999 non-null object
FLIGHT_NUMBER          19999 non-null int64
TAIL_NUMBER            19976 non-null object
ORIGIN_AIRPORT         19999 non-null object
DESTINATION_AIRPORT    19999 non-null object
SCHEDULED_DEPARTURE    19999 non-null int64
DEPARTURE_TIME         19590 non-null float64
DEPARTURE_DELAY        19590 non-null float64
TAXI_OUT               19589 non-null float64
WHEELS_OFF             19589 non-null float64
SCHEDULED_TIME         19999 non-null int64
ELAPSED_TIME           19559 non-null float64
AIR_TIME               19559 non-null float64
DISTANCE               19999 non-null int64
WHEELS_ON              19577 non-null float64
TAXI_IN                19577 non-null float64
SCHEDULED_ARRIVAL      19999 non-null int64
ARRIVAL_TIME           19577 non-null float64
ARRIVAL_DELAY          19559 non-null float64
DIVERTED               19999 non-null int64
CANCELLED              19999 non-null int64
CANCELLATION_REASON    415 non-null object
AIR_SYSTEM_DELAY       3333 non-null float64
SECURITY_DELAY         3333 non-null float64
AIRLINE_DELAY          3333 non-null float64
LATE_AIRCRAFT_DELAY    3333 non-null float64
WEATHER_DELAY          3333 non-null float64
dtypes: float64(15), int64(11), object(5)
memory usage: 4.7+ MB

In [5]:
data.shape

(19999, 31)

The Data Contains 31 columns and 1048575 Rows

In [6]:
data.describe()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,19999.0,19999.000000,19999.000000,19999.0,19999.000000,19999.000000,19590.000000,19590.000000,19589.000000,19589.000000,...,19999.000000,19577.000000,19559.000000,19999.000000,19999.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,2015.0,6.500275,16.000750,4.0,2261.633632,1297.704385,1311.818275,7.981572,14.988361,1332.571239,...,1498.750288,1502.209327,1.504678,0.001250,0.020751,7.588359,0.113411,21.391539,18.277228,0.957996
std,0.0,5.500138,15.000375,0.0,1834.103263,378.533588,383.513304,33.226612,6.922112,383.855795,...,404.074918,409.048364,34.859478,0.035335,0.142553,12.624330,2.350649,54.261848,38.453554,9.223517
min,2015.0,1.000000,1.000000,4.0,1.000000,5.000000,1.000000,-41.000000,3.000000,1.000000,...,1.000000,1.000000,-76.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.0,1.000000,1.000000,4.0,734.000000,1017.000000,1026.000000,-4.000000,11.000000,1041.000000,...,1225.000000,1230.000000,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2015.0,12.000000,31.000000,4.0,1705.000000,1300.000000,1313.000000,-1.000000,13.000000,1326.000000,...,1513.000000,1520.000000,-5.000000,0.000000,0.000000,0.000000,0.000000,8.000000,1.000000,0.000000
75%,2015.0,12.000000,31.000000,4.0,3454.000000,1546.000000,1558.750000,9.000000,17.000000,1611.000000,...,1800.000000,1805.000000,7.000000,0.000000,0.000000,14.000000,0.000000,22.000000,22.000000,0.000000
max,2015.0,12.000000,31.000000,4.0,7438.000000,2359.000000,2400.000000,1649.000000,113.000000,2400.000000,...,2359.000000,2400.000000,1636.000000,1.000000,1.000000,164.000000,107.000000,1636.000000,524.000000,213.000000

In [7]:
data.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data.tail()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
19994,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19995,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19996,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19997,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19998,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,1,1,4,DL,2336,N958DN,DEN,ATL,30,...,453.0,-30.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,1,1,4,AA,1674,N853AA,LAS,MIA,35,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,1,1,4,DL,1434,N547US,LAX,MSP,35,...,605.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
13,2015,1,1,4,DL,2324,N3751B,SLC,ATL,40,...,553.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
14,2015,1,1,4,DL,2440,N651DL,SEA,MSP,40,...,557.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,1,1,4,AS,108,N309AS,ANC,SEA,45,...,455.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,1,1,4,DL,1560,N3743H,ANC,SEA,45,...,451.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,1,1,4,UA,1197,N78448,SFO,IAH,48,...,619.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,1,1,4,AS,122,N413AS,ANC,PDX,50,...,507.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,1,1,4,DL,1670,N806DN,PDX,MSP,50,...,551.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,1,1,4,NK,520,N525NK,LAS,MCI,55,...,543.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,1,1,4,AA,371,N3GXAA,SEA,MIA,100,...,939.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
22,2015,1,1,4,NK,214,N632NK,LAS,DFW,103,...,529.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,1,1,4,AA,115,N3CTAA,LAX,MIA,105,...,839.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
24,2015,1,1,4,DL,1450,N671DN,LAS,MSP,105,...,545.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,1,1,4,UA,1545,N76517,LAX,IAH,115,...,607.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
26,2015,1,1,4,AS,130,N457AS,FAI,SEA,115,...,545.0,-3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,1,1,4,NK,597,N528NK,MSP,FLL,115,...,607.0,25.0,0,0,NaN,25.0,0.0,0.0,0.0,0.0
28,2015,1,1,4,US,413,N571UW,LAS,CLT,120,...,754.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,1,1,4,AA,2392,N3HRAA,DEN,MIA,120,...,709.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19969,2015,12,31,4,AA,1538,N866AA,LAX,MIA,2355,...,731.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19970,2015,12,31,4,B6,136,N569JB,PHX,JFK,2355,...,607.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19971,2015,12,31,4,AS,28,N477AS,SEA,MSP,2355,...,535.0,28.0,0,0,NaN,12.0,0.0,16.0,0.0,0.0
19972,2015,12,31,4,AS,111,N586AS,LAS,ANC,2355,...,353.0,-62.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19973,2015,12,31,4,AS,121,N768AS,SEA,ANC,2355,...,224.0,-27.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19974,2015,12,31,4,AS,175,N431AS,LAX,ANC,2355,...,400.0,-45.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19975,2015,12,31,4,AS,471,N570AS,LAX,SEA,2355,...,225.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19976,2015,12,31,4,AS,850,N536AS,KOA,SEA,2355,...,712.0,-38.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19977,2015,12,31,4,NK,371,N661NK,FLL,BQN,2358,...,346.0,28.0,0,0,NaN,15.0,0.0,13.0,0.0,0.0
19978,2015,12,31,4,DL,2224,N332NW,PHX,DTW,2359,...,512.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19979,2015,12,31,4,F9,710,N209FR,DEN,RSW,2359,...,518.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19980,2015,12,31,4,F9,682,N701FR,DEN,MCO,2359,...,504.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19981,2015,12,31,4,F9,566,N925FR,DEN,RDU,2359,...,446.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19982,2015,12,31,4,F9,300,N949FR,DEN,TPA,2359,...,509.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19983,2015,12,31,4,UA,516,N17245,SEA,IAH,2359,...,600.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19984,2015,12,31,4,UA,668,N66848,LAS,IAD,2359,...,652.0,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19985,2015,12,31,4,UA,671,N33209,PDX,IAH,2359,...,545.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19986,2015,12,31,4,UA,1849,N497UA,LAS,EWR,2359,...,718.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19987,2015,12,31,4,AA,2342,N3DLAA,DEN,MIA,2359,...,525.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19988,2015,12,31,4,AA,219,N3LYAA,LAX,ORD,2359,...,544.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19989,2015,12,31,4,B6,1248,N948JB,LAS,JFK,2359,...,1020.0,159.0,0,0,NaN,0.0,0.0,159.0,0.0,0.0
19990,2015,12,31,4,B6,80,N584JB,RNO,JFK,2359,...,744.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19991,2015,12,31,4,B6,802,N589JB,SLC,MCO,2359,...,625.0,17.0,0,0,NaN,1.0,0.0,16.0,0.0,0.0
19992,2015,12,31,4,B6,98,N607JB,DEN,JFK,2359,...,519.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19993,2015,12,31,4,B6,66,N655JB,ABQ,JFK,2359,...,549.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19994,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19995,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19996,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19997,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19998,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

From the above table it is clear that data is not properly organised and date is given seperated and many columns have unnecessary data not useful for visualization for which it is required that we clean the data and take only those columns which is of our use.

In [10]:
airport.isnull().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     3
LONGITUDE    3
dtype: int64

In [11]:
airport = airport.dropna(subset = ['LATITUDE','LONGITUDE'])

In [12]:
airport.isnull().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     0
LONGITUDE    0
dtype: int64

In [13]:
airport.head(10)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
5,ACK,Nantucket Memorial Airport,Nantucket,MA,USA,41.25305,-70.06018
6,ACT,Waco Regional Airport,Waco,TX,USA,31.61129,-97.23052
7,ACV,Arcata Airport,Arcata/Eureka,CA,USA,40.97812,-124.10862
8,ACY,Atlantic City International Airport,Atlantic City,NJ,USA,39.45758,-74.57717
9,ADK,Adak Airport,Adak,AK,USA,51.87796,-176.64603

In [14]:
airlines

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [15]:
Data_NULL = data.isnull().sum()*100/data.shape[0]
Data_NULL

YEAR                    0.000000
MONTH                   0.000000
DAY                     0.000000
DAY_OF_WEEK             0.000000
AIRLINE                 0.000000
FLIGHT_NUMBER           0.000000
TAIL_NUMBER             0.115006
ORIGIN_AIRPORT          0.000000
DESTINATION_AIRPORT     0.000000
SCHEDULED_DEPARTURE     0.000000
DEPARTURE_TIME          2.045102
DEPARTURE_DELAY         2.045102
TAXI_OUT                2.050103
WHEELS_OFF              2.050103
SCHEDULED_TIME          0.000000
ELAPSED_TIME            2.200110
AIR_TIME                2.200110
DISTANCE                0.000000
WHEELS_ON               2.110106
TAXI_IN                 2.110106
SCHEDULED_ARRIVAL       0.000000
ARRIVAL_TIME            2.110106
ARRIVAL_DELAY           2.200110
DIVERTED                0.000000
CANCELLED               0.000000
CANCELLATION_REASON    97.924896
AIR_SYSTEM_DELAY       83.334167
SECURITY_DELAY         83.334167
AIRLINE_DELAY          83.334167
LATE_AIRCRAFT_DELAY    83.334167
WEATHER_DELAY          83.334167
dtype: float64

We can see that 96% of the values in Cancellation reason column are null for which it is of less use while predicting Delays. Some other columns include 78.2% in Air System Delay, Security Delay, Airline Delay, Weather Delay etc. So I am going to create two Dataset which is having no null values one is by removing all the null values irrespective of different types of Delays and other I am going to take the data set with respect to different types of delays. The first Dataset is named as Flights and the other one is named as Flight_Delays.

In [16]:
# Dropping of subset of null values
data1 = data.dropna(subset = ["TAIL_NUMBER",'DEPARTURE_TIME','DEPARTURE_DELAY','TAXI_OUT','WHEELS_OFF','SCHEDULED_TIME',
             'ELAPSED_TIME','AIR_TIME','WHEELS_ON','TAXI_IN','ARRIVAL_TIME','ARRIVAL_DELAY'])

In [17]:
data1.shape

(19559, 31)

In [18]:
data1.isnull().sum()

YEAR                       0
MONTH                      0
DAY                        0
DAY_OF_WEEK                0
AIRLINE                    0
FLIGHT_NUMBER              0
TAIL_NUMBER                0
ORIGIN_AIRPORT             0
DESTINATION_AIRPORT        0
SCHEDULED_DEPARTURE        0
DEPARTURE_TIME             0
DEPARTURE_DELAY            0
TAXI_OUT                   0
WHEELS_OFF                 0
SCHEDULED_TIME             0
ELAPSED_TIME               0
AIR_TIME                   0
DISTANCE                   0
WHEELS_ON                  0
TAXI_IN                    0
SCHEDULED_ARRIVAL          0
ARRIVAL_TIME               0
ARRIVAL_DELAY              0
DIVERTED                   0
CANCELLED                  0
CANCELLATION_REASON    19559
AIR_SYSTEM_DELAY       16226
SECURITY_DELAY         16226
AIRLINE_DELAY          16226
LATE_AIRCRAFT_DELAY    16226
WEATHER_DELAY          16226
dtype: int64

In [19]:
# Creting Dataset w.r.t different Types of Delays
data11 = data1.dropna(subset = ['AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY'])
data11 = data11.drop(['YEAR','MONTH','DAY','DAY_OF_WEEK','TAIL_NUMBER','SCHEDULED_DEPARTURE','DEPARTURE_TIME','SCHEDULED_TIME',
                     'SCHEDULED_ARRIVAL','ARRIVAL_TIME','DIVERTED','CANCELLED','CANCELLATION_REASON','FLIGHT_NUMBER','WHEELS_OFF',
                     'WHEELS_ON','AIR_TIME'],axis = 1)

In [20]:
data11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3333 entries, 27 to 19991
Data columns (total 14 columns):
AIRLINE                3333 non-null object
ORIGIN_AIRPORT         3333 non-null object
DESTINATION_AIRPORT    3333 non-null object
DEPARTURE_DELAY        3333 non-null float64
TAXI_OUT               3333 non-null float64
ELAPSED_TIME           3333 non-null float64
DISTANCE               3333 non-null int64
TAXI_IN                3333 non-null float64
ARRIVAL_DELAY          3333 non-null float64
AIR_SYSTEM_DELAY       3333 non-null float64
SECURITY_DELAY         3333 non-null float64
AIRLINE_DELAY          3333 non-null float64
LATE_AIRCRAFT_DELAY    3333 non-null float64
WEATHER_DELAY          3333 non-null float64
dtypes: float64(10), int64(1), object(3)
memory usage: 390.6+ KB

In [21]:
# The other Dataset
Flight_Delays = data11

In [22]:
# Creating Dataset by removing null values by not focussing fully on different types of Delays
data2 = data1.drop(['CANCELLATION_REASON','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY',
                    'LATE_AIRCRAFT_DELAY','WEATHER_DELAY'],axis = 1)

In [23]:
data2.isnull().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
dtype: int64

In [24]:
data2.shape

(19559, 25)

In [25]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19559 entries, 0 to 19998
Data columns (total 25 columns):
YEAR                   19559 non-null int64
MONTH                  19559 non-null int64
DAY                    19559 non-null int64
DAY_OF_WEEK            19559 non-null int64
AIRLINE                19559 non-null object
FLIGHT_NUMBER          19559 non-null int64
TAIL_NUMBER            19559 non-null object
ORIGIN_AIRPORT         19559 non-null object
DESTINATION_AIRPORT    19559 non-null object
SCHEDULED_DEPARTURE    19559 non-null int64
DEPARTURE_TIME         19559 non-null float64
DEPARTURE_DELAY        19559 non-null float64
TAXI_OUT               19559 non-null float64
WHEELS_OFF             19559 non-null float64
SCHEDULED_TIME         19559 non-null int64
ELAPSED_TIME           19559 non-null float64
AIR_TIME               19559 non-null float64
DISTANCE               19559 non-null int64
WHEELS_ON              19559 non-null float64
TAXI_IN                19559 non-null float64
SCHEDULED_ARRIVAL      19559 non-null int64
ARRIVAL_TIME           19559 non-null float64
ARRIVAL_DELAY          19559 non-null float64
DIVERTED               19559 non-null int64
CANCELLED              19559 non-null int64
dtypes: float64(10), int64(11), object(4)
memory usage: 3.9+ MB

In [26]:
data2.DEPARTURE_TIME.isnull().sum()

0

In [27]:
data2.DEPARTURE_TIME.dtype

dtype('float64')

In [28]:
data2.DEPARTURE_TIME

0        2354.0
1           2.0
2          18.0
3          15.0
4          24.0
5          20.0
6          19.0
7          44.0
8          19.0
9          33.0
10         24.0
11         27.0
12         35.0
13         34.0
14         39.0
15         41.0
16         31.0
17         42.0
18         46.0
19         45.0
20        120.0
21         52.0
22        102.0
23        103.0
24        102.0
25        112.0
26        107.0
27        127.0
28        110.0
29        141.0
          ...
19969    2357.0
19970    2357.0
19971      11.0
19972    2340.0
19973    2355.0
19974    2350.0
19975    2353.0
19976    2352.0
19977      11.0
19978    2352.0
19979    2351.0
19980    2354.0
19981    2356.0
19982       5.0
19983       1.0
19984    2356.0
19985    2352.0
19986    2357.0
19987    2351.0
19988    2358.0
19989     238.0
19990    2359.0
19991      15.0
19992       6.0
19993      15.0
19994    2355.0
19995    2355.0
19996    2350.0
19997    2353.0
19998      14.0
Name: DEPARTURE_TIME, Length: 19559, dtype: float64

The departure time above is not very much informative so we are going to change it in the datetime format so that we get a better idea of the time.

In [32]:
# Creating a function to change the way of representation of time in the column
def Format_Hourmin(hours):
        if hours == 2400:
            hours = 0
        else:
            hours = "{0:04d}".format(int(hours))
            Hourmin = datetime.time(int(hours[0:2]), int(hours[2:4]))
            return Hourmin

In [33]:
data2['Actual_Departure'] = data1['DEPARTURE_TIME'].apply(Format_Hourmin)
data2['Actual_Departure']

0        23:54:00
1        00:02:00
2        00:18:00
3        00:15:00
4        00:24:00
5        00:20:00
6        00:19:00
7        00:44:00
8        00:19:00
9        00:33:00
10       00:24:00
11       00:27:00
12       00:35:00
13       00:34:00
14       00:39:00
15       00:41:00
16       00:31:00
17       00:42:00
18       00:46:00
19       00:45:00
20       01:20:00
21       00:52:00
22       01:02:00
23       01:03:00
24       01:02:00
25       01:12:00
26       01:07:00
27       01:27:00
28       01:10:00
29       01:41:00
           ...
19969    23:57:00
19970    23:57:00
19971    00:11:00
19972    23:40:00
19973    23:55:00
19974    23:50:00
19975    23:53:00
19976    23:52:00
19977    00:11:00
19978    23:52:00
19979    23:51:00
19980    23:54:00
19981    23:56:00
19982    00:05:00
19983    00:01:00
19984    23:56:00
19985    23:52:00
19986    23:57:00
19987    23:51:00
19988    23:58:00
19989    02:38:00
19990    23:59:00
19991    00:15:00
19992    00:06:00
19993    00:15:00
19994    23:55:00
19995    23:55:00
19996    23:50:00
19997    23:53:00
19998    00:14:00
Name: Actual_Departure, Length: 19559, dtype: object

In [ ]:
data2.columns

In [ ]:
# Creating Date in the Datetime format
data2['Date'] = pd.to_datetime(data2[['YEAR','MONTH','DAY']])
data2.Date

In [ ]:
data2['Day'] = data2['Date'].dt.weekday_name

In [ ]:
# Applying the function to required variables in the dataset
data2['Actual_Departure'] =data1['DEPARTURE_TIME'].apply(Format_Hourmin)
data2['Scheduled_Arrival'] =data1['SCHEDULED_ARRIVAL'].apply(Format_Hourmin)
data2['Scheduled_Departure'] =data1['SCHEDULED_DEPARTURE'].apply(Format_Hourmin)
data2['Actual_Arrival'] =data1['ARRIVAL_TIME'].apply(Format_Hourmin)

# Merging of  3 data sets

Since there are three dataset it is required to merge all the three data set so that we can use it during the visualization in a proper way.

In [ ]:
# Merging on AIRLINE and IATA_CODE
data2 = data2.merge(airlines, left_on='AIRLINE', right_on='IATA_CODE', how='inner')

In [ ]:
data2 = data2.drop(['AIRLINE_x','IATA_CODE'], axis=1)

In [ ]:
data2 = data2.rename(columns={"AIRLINE_y":"AIRLINE"})

In [ ]:
data2 = data2.merge(airport, left_on='ORIGIN_AIRPORT', right_on='IATA_CODE', how='inner')
data2 = data2.merge(airport, left_on='DESTINATION_AIRPORT', right_on='IATA_CODE', how='inner')

In [ ]:
data2.columns

In [ ]:
data2 = data2.drop(['LATITUDE_x', 'LONGITUDE_x',
       'STATE_y', 'COUNTRY_y', 'LATITUDE_y', 'LONGITUDE_y','STATE_x', 'COUNTRY_x'], axis=1)

In [ ]:
data2 = data2.rename(columns={'IATA_CODE_x':'Org_Airport_Code','AIRPORT_x':'Org_Airport_Name','CITY_x':'Origin_city',
                             'IATA_CODE_y':'Dest_Airport_Code','AIRPORT_y':'Dest_Airport_Name','CITY_y':'Destination_city'})

In [ ]:
data2

In [ ]:
# we are taking the required data into Account for visualization and the Analysis
ReqdData = pd.DataFrame(data2[['AIRLINE','Org_Airport_Name','Origin_city',
                               'Dest_Airport_Name','Destination_city','ORIGIN_AIRPORT',
                               'DESTINATION_AIRPORT','DISTANCE','Actual_Departure','Date','Day',
                               'Scheduled_Departure','DEPARTURE_DELAY','Actual_Arrival','Scheduled_Arrival','ARRIVAL_DELAY',
                              'SCHEDULED_TIME','ELAPSED_TIME','AIR_TIME','TAXI_IN','TAXI_OUT','DIVERTED',]])

In [ ]:
data2.DEPARTURE_TIME.dtype

In [ ]:
ReqdData = ReqdData.dropna(subset = ['Actual_Departure','Actual_Arrival'])

In [ ]:
ReqdData.info()

In [ ]:
# Cleaned Dataset for visualization and Analysis
Flights = ReqdData
Flights

In [ ]:
plt.figure(figsize=(10, 10))
axis = sns.countplot(x=Flights['Origin_city'], data = Flights,
              order=Flights['Origin_city'].value_counts().iloc[:20].index)
axis.set_xticklabels(axis.get_xticklabels(), rotation=90, ha="right")
plt.tight_layout()
plt.show()

# The Figure shows that Atlanta has the highest count of flight from origin city

In [ ]:
plt.figure(figsize=(10, 10))
axis = sns.countplot(x=Flights['Org_Airport_Name'], data = Flights,
              order=Flights['Org_Airport_Name'].value_counts().iloc[:20].index)
axis.set_xticklabels(axis.get_xticklabels(), rotation=90, ha="right")
plt.tight_layout()
plt.show()

In [ ]:
axis = plt.subplots(figsize=(10,14))
Name = Flights["AIRLINE"].unique()
size = Flights["AIRLINE"].value_counts()
plt.pie(size,labels=Name,autopct='%5.0f%%')
plt.show()

In [ ]:
axis = plt.subplots(figsize=(10,14))
sns.despine(bottom=True, left=True)
# Observations with Scatter Plot
sns.stripplot(x="ARRIVAL_DELAY", y="AIRLINE",
              data = Flights, dodge=True, jitter=True
            )
plt.show()

American Airlines Inc has the highest Arrival Delay.

In [ ]:
%%html
<div class='tableauPlaceholder' id='viz1569936847474' style='position: relative'><noscript><a href='#'><img alt=' ' 
src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;9B&#47;9BD44NRJ9&#47;1_rss.png' style='border: none'
/></a></noscript><object class='tableauViz'  
style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' 
/> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;9BD44NRJ9' 
/> <param name='toolbar' value='yes' 
/><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;9B&#47;9BD44NRJ9&#47;1.png' 
/> <param name='animate_transition' value='yes'
/><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' 
/><param name='display_overlay' value='yes' /><param name='display_count' value='yes' 
/><param name='filter' value='publish=yes' /></object></div>                
<script type='text/javascript'>                    
var divElement = document.getElementById('viz1569936847474');                    
var vizElement = divElement.getElementsByTagName('object')[0];                    
vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
var scriptElement = document.createElement('script');                    
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
vizElement.parentNode.insertBefore(scriptElement, vizElement);               
</script>

# Tableau Visualization to give more clear Insight and Inferences

In [ ]:
# Plot to show the Taxi In and Taxi Out Time
axis = plt.subplots(figsize=(10,14))
sns.set_color_codes("pastel")
sns.set_context("notebook", font_scale=1.5)
axis = sns.barplot(x="TAXI_OUT", y="AIRLINE", data=Flights, color="g")
axis = sns.barplot(x="TAXI_IN", y="AIRLINE", data=Flights, color="r")
axis.set(xlabel="TAXI_TIME (TAXI_OUT: green, TAXI_IN: blue)")

In [ ]:
axis = plt.subplots(figsize=(20,14))
sns.heatmap(Flights.corr(),annot = True)
plt.show()

# Very High Correlation Between Arrival Delay and Departure Delay

It shows that maximum of the Arrival Delays are due to the Departure Delays but some flights has still arrived on time even after departed late from the Origin Airport. Now we need to check why departure Delay is happening in the origin Airport Which may be due to security Delays, Air System Delays etc.

In [ ]:
%%html
<div class='tableauPlaceholder' id='viz1569938215526' style='position: relative'><noscript><a href='#'><img alt=' ' 
src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;PH&#47;PHNKQPSZG&#47;1_rss.png' style='border: none'
/></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' 
/> <param name='embed_code_version' value='3' 
/> <param name='path' value='shared&#47;PHNKQPSZG' 
/> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;PH&#47;PHNKQPSZG&#47;1.png' 
/> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes'
/><param name='display_overlay' value='yes' 
/><param name='display_count' value='yes' /></object></div>                
<script type='text/javascript'>                   
var divElement = document.getElementById('viz1569938215526');                   
var vizElement = divElement.getElementsByTagName('object')[0];                   
vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                   
var scriptElement = document.createElement('script');                    
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                   
vizElement.parentNode.insertBefore(scriptElement, vizElement);               
</script>

# Tableau Visualization to give more clear Insight and Inferences

# Prediction

In [ ]:
Flights.head()

In [ ]:
# Dropping unncecssary columns before prediction
Flights1 = Flights.drop(['Org_Airport_Name','Origin_city','Dest_Airport_Name','Destination_city'],axis = 1)

In [ ]:
Flights1.columns

In [ ]:
# To check the Distribution of Air Time
sns.distplot(Flights1['AIR_TIME'])
plt.show()

In [ ]:
# To check the Distribution of Elapsed Time
sns.distplot(Flights1['ELAPSED_TIME'])
plt.show()

In [ ]:
# To check the Distribution of Taxi IN
sns.distplot(Flights1['TAXI_IN'])
plt.show()

In [ ]:
# To check the Distribution of Taxi out
sns.distplot(Flights1['TAXI_OUT'])
plt.show()

In [ ]:
# importing Various regression algorithms 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import Lasso,LinearRegression,Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,BaggingRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [ ]:
Las = Lasso()
LinR = LinearRegression()
Rid = Ridge()
Rfc = RandomForestRegressor(random_state=2)
Dtc = DecisionTreeRegressor(random_state = 2)
Boost_Lin = AdaBoostRegressor(base_estimator=LinR,random_state=2)
Boost_las = AdaBoostRegressor(base_estimator=Las,random_state=2)
Boost_rid = AdaBoostRegressor(base_estimator=Rid,random_state=2)
Bg_Lin = BaggingRegressor(base_estimator=LinR,random_state=2)
Bg_las = BaggingRegressor(base_estimator=Las,random_state=2)
Bg_rid = BaggingRegressor(base_estimator=Rid,random_state=2)

In [ ]:
le = LabelEncoder()

In [ ]:
# Label encoding features to change categorical variables into numerical one
Flights1['AIRLINE']= le.fit_transform(Flights1['AIRLINE'])
Flights1['ORIGIN_AIRPORT'] = le.fit_transform(Flights1['ORIGIN_AIRPORT'])
Flights1['DESTINATION_AIRPORT'] = le.fit_transform(Flights1['DESTINATION_AIRPORT'])
Flights1['Day'] = le.fit_transform(Flights1['Day'])

In [ ]:
Flights1 = Flights1.drop(['Scheduled_Departure','Scheduled_Arrival','Actual_Arrival','Date','Actual_Departure'], axis = 1)

In [ ]:
Flights1.info()

In [ ]:
X = Flights1.drop('ARRIVAL_DELAY',axis = 1)
X.shape

In [ ]:
y = Flights1['ARRIVAL_DELAY']
y.head()

In [ ]:
# Splitting into train and test data set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 2)

In [ ]:
sc1=StandardScaler()
X_train_sc=sc1.fit_transform(X_train)
X_test_sc=sc1.transform(X_test)

# Model fitting and results

In [ ]:
for model, name in zip([Las,LinR,Rid,Dtc,Rfc,Boost_Lin,Boost_las,Boost_rid,Bg_Lin,Bg_las,Bg_rid], 
     ['Lasso','Linear Regression','Ridge','Random forest Regressor','Decision Tree Regressor','Boosted Linear',
      'Boosted Lasso','Boosted Ridge','Bagged Linear','Bagged Lasso','Bagged Ridge']):
    model1 = model.fit(X_train_sc,y_train)
    Y_predict=model1.predict(X_test_sc)
    print(name)
    print('Mean Absolute Error:', mean_absolute_error(y_test, Y_predict))  
    print('Mean Squared Error:', mean_squared_error(y_test, Y_predict))  
    print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, Y_predict)))
    print('R2 : ',r2_score(y_test, Y_predict))
    print()

# Model Analysis

In [ ]:
for model, name in zip([Las,LinR,Rid,Dtc,Rfc,Boost_Lin,Boost_las,Boost_rid,Bg_Lin,Bg_las,Bg_rid], 
     ['Lasso','Linear Regression','Ridge','Random forest Regressor','Decision Tree Regressor','Boosted Linear',
      'Boosted Lasso','Boosted Ridge','Bagged Linear','Bagged Lasso','Bagged Ridge']):
    model1 = model.fit(X_train_sc,y_train)
    Y_predict=model1.predict(X_test_sc)
    print(name)
    plt.scatter(y_test, Y_predict)
    plt.title("Model Analysis")
    plt.xlabel("Truth")
    plt.ylabel("Prediction")
    plt.show()

# When Flight_Delays is taken, where I took all the different Delays into Concern.

I removed the null values present in all the different types of Delays and proceeded with prediction of the Arrival Delays.

In [ ]:
axis = plt.subplots(figsize=(10,14))
Name = Flight_Delays["AIRLINE"].unique()
size = Flight_Delays["AIRLINE"].value_counts()
plt.pie(size,labels=Name,autopct='%5.0f%%')
plt.show()

In [ ]:
Flight_Delays

In [ ]:
Flight_Delays['ORIGIN_AIRPORT'] = Flight_Delays['ORIGIN_AIRPORT'].astype(str)
Flight_Delays['DESTINATION_AIRPORT'] = Flight_Delays['DESTINATION_AIRPORT'].astype(str)

In [ ]:
Flight_Delays['AIRLINE']= le.fit_transform(Flight_Delays['AIRLINE'])
Flight_Delays['ORIGIN_AIRPORT'] = le.fit_transform(Flight_Delays['ORIGIN_AIRPORT'])
Flight_Delays['DESTINATION_AIRPORT'] = le.fit_transform(Flight_Delays['DESTINATION_AIRPORT'])

In [ ]:
X = Flight_Delays.drop('ARRIVAL_DELAY',axis = 1)
X.shape
y = Flight_Delays['ARRIVAL_DELAY']
y.head()

In [ ]:
# Splitting the Data into Training and Testing set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 2)

In [ ]:
# Scalling of the Data
sc1=StandardScaler()
X_train_sc=sc1.fit_transform(X_train)
X_test_sc=sc1.transform(X_test)

# Model fitting and results

In [ ]:
for model, name in zip([Las,LinR,Rid,Dtc,Rfc,Boost_Lin,Boost_las,Boost_rid,Bg_Lin,Bg_las,Bg_rid], 
     ['Lasso','Linear Regression','Ridge','Random forest Regressor','Decision Tree Regressor','Boosted Linear',
      'Boosted Lasso','Boosted Ridge','Bagged Linear','Bagged Lasso','Bagged Ridge']):
    model1 = model.fit(X_train_sc,y_train)
    Y_predict=model1.predict(X_test_sc)
    print(name)
    print('Mean Absolute Error:', mean_absolute_error(y_test, Y_predict))  
    print('Mean Squared Error:', mean_squared_error(y_test, Y_predict))  
    print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, Y_predict)))
    print('R2 : ',r2_score(y_test, Y_predict))
    print()

# Model Analysis

In [ ]:
for model, name in zip([Las,LinR,Rid,Dtc,Rfc,Boost_Lin,Boost_las,Boost_rid,Bg_Lin,Bg_las,Bg_rid], 
     ['Lasso','Linear Regression','Ridge','Random forest Regressor','Decision Tree Regressor','Boosted Linear',
      'Boosted Lasso','Boosted Ridge','Bagged Linear','Bagged Lasso','Bagged Ridge']):
    model1 = model.fit(X_train_sc,y_train)
    Y_predict=model1.predict(X_test_sc)
    print(name)
    plt.scatter(y_test, Y_predict)
    plt.title("Model Analysis")
    plt.xlabel("Truth")
    plt.ylabel("Prediction")
    plt.show()

# Conclusion

We can see that maximum arrival Delays are dependent on the Departure Delays of the Airport. The first part is dealt with cleaning and exploration of the data set to get more insights and the second part dealt with the sitting of the model to predict the delays. For exploratory Analysis I used visualization tools like tableau and seaborn as well as matplotlib. The Second part dealt with the model fitting and predicting the Arrival delays of the airlines.

We can see that departure delay is the main problem which is creating Delay in the aviation industry. Departure Delays can be caused due Security Delay, Airline System Delays, Airlines Delay etc. The Delays affect the revenue of the company to a great extent so the delays has to be reduced as much as possible so as to increase the profitability in the Airline Industry. Customer Satisfaction will also be greatly enhanced if the delays can be brought down as low as possible.